.btnLog {

    color: rgba(255, 255, 255, 0.774);
    background: transparent;
    border: unset;
    font-size: 20px;
    
    
}
.btnLog:hover {
    color: white;
}
.btnlogout,.btnEncuesta,.btnPregunta,.btnMaterial,.btnRespuesta {

    color: rgba(255, 255, 255, 0.774);
    background: transparent;
    border: unset;
    
}
.btnlogout:hover, .btnEncuesta:hover, .btnPregunta:hover, .btnMaterial:hover, .btnRespuesta:hover {
    color: white;
}
#cuer{
    display: none;
}
#botonBuscar{
    margin-top: -20px;
}

