.btn-group{
    margin-top: 0.2%;
    margin-left: 250px;
    margin-right: 250px;
}
.btn-group1{
    margin-top: 1.5%;
    margin-left: 250px;
    margin-right: 250px;
}

#formularioPregunta{
    display: none;
}

#btM1,#btM2,#btM3,#btM4,#btM5,#btM6,#btM7,#btM8{
    display: none;

}
#btnsGraficas{
    display: none;
    margin-top: 0.5%;

}
#competencias{
    color: black;
    font-size: 18px;
    text-align: justify;
    margin-top: 5%;
}
#nota {

    color: black;
    font-size: 16px;
    text-align: justify;
    margin-top: 0%;
    font-weight: bold;
}
