.btn-group{
    margin-top: 0.5%;
    margin-left: 250px;
    margin-right: 250px;
}
.btn-group1{
    margin-top: 4.5%;
}

#formularioPregunta{
    display: none;
}

#btM1,#btM2,#btM3,#btM4,#btM5,#btM6,#btM7,#btM8{
    display: none;

}
#btnsGraficas{
    display: none;
    margin-top: 5%;
}