.parrafo1{
    text-align: justify;
    margin-top: 2%;
    font-size: 15px;
    margin-left: 17%;
    margin-right: 17%;
}
.imgCuerpo{
    display:block;
    margin-top: 2%;
    width: 750px;
    margin:auto;
    border-radius: 50px;
    
}
table{
    margin-top: 2%;
}
  tr:hover {background-color:rgb(56, 141, 75);}
.link{
    color: rgb(255, 255, 255);
}
.tablaLink {
    height: 30%;
    width: 65%;
    margin: auto;
}
.cuerpo{
    display: none;
}
#checkEncuesta{
    height: 30%;
    width: 65%;
    margin: auto;
    text-align: left;
    
}
#flexSwitchCheckDefault
{
    border-color:rgb(56, 141, 75);
    border-style: groove;
}
#moduloEncuesta{
    font-size: 15px;
}
#textoSubir {
    width: 70%;
    height: 150px;
    margin-top: 35px;
  }
#textoBusqueda{
    width: 18%;
    height: 31px;
    margin-top: 20px;
    resize: none;
}
