.mencuesta{
    height: 30%;
    width: 65%;
    margin: auto;
    display: none;
}
#botones :focus{

    background-color:rgb(56, 141, 75);
    border-radius: 20%;
    color: white;
    height: 40px;
    font-weight: bold;

}
.btn0,.btn1,.btn2,.btn3 {
    display: block;
    border: none;
    background: transparent;
    font-weight: bold;
    color: rgb(56, 141, 75);
    
}
.form,.tab-content{
    display: none;
}