.mencuesta{
    height: 30%;
    width: 65%;
    margin: auto;
    display: none;
    margin-top: 10px;
}

#v-pills-con-tab,#v-pills-compdi-tab,#v-pills-act-tab{
margin-left: 350px;
margin-right: 350px;
margin-top: 4px;
}
#v-pills-con-tab:focus{
    color: rgb(24, 70, 15);
    background-color: white;
    }
#v-pills-compdi-tab:focus{
    color: rgb(24, 70, 15);
    background-color: white;
    }
#v-pills-act-tab:focus{
    color: rgb(24, 70, 15);
    background-color: white;
    }

#v-pills-con-tab:disabled{
        color:#ffffffc4;
        background-color: rgba(155, 155, 155, 0.595);
        border-color: rgba(95, 93, 93, 0.193);
        border-style: solid;
        border-width: 3px;
        }
#v-pills-compdi-tab:disabled{
    color:#ffffffc4;
    background-color: rgba(155, 155, 155, 0.595);
    border-color: rgba(95, 93, 93, 0.193);
    border-style: solid;
    border-width: 3px;
    }
#v-pills-act-tab:disabled{
    color:#ffffffc4;
        background-color: rgba(155, 155, 155, 0.595);
        border-color: rgba(95, 93, 93, 0.193);
    border-style: solid;
    border-width: 3px;
    }

.btn1{
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: medium;
    border-color: rgb(46, 146, 104);
    height: 35px;
    width: 300px;
    display: none;
}
.btn1:hover {

    background: rgb(46, 146, 104);
    color: white;
}

.btn1:disabled{
    color:white;
    background-color: rgb(46, 146, 104);
}
.form,.tab-content{
    display: none;
}

#area{
    margin-top: 1.5%;
    color:rgb(46, 146, 104);
    font-size: medium;
    font-weight: bold;
}
#modulo{
    margin-top: 10px;
    color:rgb(46, 146, 104);;
    font-size: medium;
    text-align: left;
    font-weight: bold;
}
#infoEncuesta{
    color: black;
    font-size: 18px;
    text-align: justify;
    margin-top: 5%;
}
