#formEstadisticas{
    display: none;
}
#estadisticasEstudiantes{
    margin-top: 5%;
}
.Caracterizacion{
    display:inline-block;
    color: rgba(252, 0, 0, 0.613);
    text-align: right;
}
#tituloCaracteristicasArea{
    text-align: left;
}