.formularioC{
    margin-left: 180px;
    margin-right: 180px;
    text-align: justify;
    border-color: rgb(46, 146, 104);
    border-style: solid;
    border-width: 3px;
    
    
}
#encuesta{
    margin-top: 15px;
    color:black;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-right: 12px;
    
}
#cantPreguntas{
    margin-top: 15px;
    color:black;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-right: 12px;
}
.form-label{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.form-check{
    font-size: 13px;
}
.rb{
    content:rgb(46, 146, 104);
}
#btnEnviar {

    margin: inherit;
    height: 40px;
    width: 150px;
    font-weight:bold;
}